/******************
FIXING ELEMENTS
******************/

/*Buttons*/
.cta1:hover{
    text-decoration: none;
    color: forestgreen;
}

.icon:hover {
    text-decoration: none;
    color: white;
}


#bg{
    opacity: 0.6;
}

#reservation-div {
    height: 500px;
    
}

/*RESREVER BTN HOMEPAGE*/
#header > nav > ul > li:nth-child(2) > a {
    background-color: white;
    color: black;
    font-weight: bold;
}
/*RESREVER BTN HOMEPAGE on HOVER*/
#header > nav > ul > li:nth-child(2) > a:hover {
    background-color: white;
    color: forestgreen;
    font-weight: bold;
}

h1, h2 {
    color: forestgreen;
}